
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    overflow: hidden;
}

.nav-bar{
    padding: 0 4vw;
    font-family: 'Press Start 2P', cursive;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: rgb(0, 144, 144);
}

.nav-bar a{
    color: white;
    text-decoration: none;

}

.nav-bar .logo{
    cursor: pointer;
    user-select: none;
}


.nav-bar .nav-elem{
    margin-left: 55vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.nav-bar .nav-elem button{
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.nav-bar .nav-elem button:hover{
    background-color: rgba(255, 255, 255, 0.101);
}

.nav-bar .nav-elem button a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

.fa-github{

}

.main-content{
    overflow: hidden;
    height: calc(100vh - 50px);
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;  
}

.main-content .game{
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
    padding: 10px 0;
    position: relative;
    width: 14vw;
    cursor: pointer;
    overflow: hidden;
}

.main-content .game:hover{
    background-color: #dedede;
    border-color: #444444;
}

.main-content .game:hover img{
    /* rotate: 3deg; */
    scale: 1.10;
    outline: 1.5px solid #009090;
}

.game img{
    background-size: cover;
    width: 10vw;
    height: 10vw;
    margin-bottom: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 200ms;
    
}

.game img:hover{
    /* transform: scale(1.1); */
    rotate: 8deg;

}

.game h3{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;    
    color: #333333;
    text-decoration: none;
}

.game h3:hover{
    text-decoration: underline;
    color: #111111;
}

@media (max-width: 700px) {

    body{
        overflow-x: hidden;
    }
    
    .nav-bar{
        text-align: center;
        justify-content: space-between;
    }

    .nav-bar h1{
        font-size: 5vw;
        margin-left: 0;
    }
    
    .nav-bar .nav-elem{
        margin-left: 13vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-bar button{
        font-size: 4vw;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    
    .nav-bar button .a-text{
        display: none;
    }


    .main-content{
        gap: 10vw;
    }

    .main-content .game{
        width: 30vw;
    }

    .game img{
        height: 25vw;
        width: 25vw;
    }

}