:root {
  --game-icon-hover-color: #dedede;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

.nav-bar {
  padding: 0 4vw;
  font-family: "Press Start 2P", cursive;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: rgb(0, 144, 144);
  white-space: nowrap;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}

.nav-bar .logo {
  cursor: pointer;
  user-select: none;
}

.nav-bar .nav-elem {
  margin-left: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 20px;
}

.nav-bar .nav-elem button {
  background-color: transparent;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.nav-bar .nav-elem button:hover {
  background-color: rgba(255, 255, 255, 0.101);
}

.nav-bar .nav-elem button a, p{
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
}

.side-bar-menu {
  display: none;
  width: 0;
}

.side-bar-button {
  display: none;
}

.side-bar-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  margin-left: 10px;
}

.side-bar-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#dark-mode-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  font-family: "Press Start 2P", cursive;
}

#dark-mode-sidebar p {
  font-size: 16px;
}

.fa-sun, .fa-moon{
  padding-left: 10px;
}

.main-content {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  transition: all 300ms;
}

.main-content .game {
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  padding: 10px 0;
  position: relative;
  width: 12vw;
  cursor: pointer;
  overflow: hidden;
}

.main-content .game:hover {
  background-color: var(--game-icon-hover-color);
  border-color: #444444;
}

.main-content .game:hover img {
  /* rotate: 3deg; */
  scale: 1.1;
  outline: 1.5px solid #009090;
}
.main-content, .nav-bar {
  overflow: hidden;
}

.game img {
  background-size: cover;
  width: 10vw;
  height: 10vw;
  margin-bottom: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 200ms;
  border: 1px solid #00909067;
}

.game img:hover {
  /* transform: scale(1.1); */
  rotate: 8deg;
}

.game h3 {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  text-decoration: none;
}

.game h3:hover {
  text-decoration: underline;
  color: #111111;
}



@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }

  .nav-bar {
    height: 75px;
    gap: 0px;
    text-align: center;
    justify-content: space-between;
  }

  .nav-bar h1 {
    font-size: 5vw;
    margin-left: 0;
  }

  .nav-bar .nav-elem {
    display: none;
    align-items: center;
    justify-content: center;
  }

  .nav-bar button {
    font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-bar button .a-text {
    display: none;
  }

  .main-content {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 10px;
  }

  .main-content .game {
    width: 28vw;
  }

  .game img {
    height: 25vw;
    width: 25vw;
  }

  .side-bar-menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 144, 72);
    overflow: hidden;
    transition: 0.3s;
    padding-top: 15vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0.5px 0 20px rgba(0, 0, 0, 0.541);
  }

  .side-bar-link {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }

  .side-bar-button {
    background-color: #009090;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .side-bar-button i {
    font-size: 24px;
    color: white;
  }
}


@media (min-width: 701px) and (max-width: 1050px) {
  .nav-bar {
    padding: 0 2vw;
    height: 60px; 
  }

  .nav-bar .nav-elem {
    margin-left: 2vw; 
  }

  .nav-bar button {
    font-size: 18px;
    padding: 10px 15px; 
  }
}



/* add media query for andriod device */
/* @media all and (max-width: 700px) {
  .nav-bar {
    width: 100%;
  }
} */


