
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

/* Utility Classes  */
.svg-width {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 768px) {
  .hidden {
    display: none;
  }
}

/* Nav Bar  */
.nav-bar {
  display: flex;
  padding: 1rem;
  color: white;
  max-width: 1440px;
  align-items: center;
  margin-inline: auto;
  justify-content: space-between;
  background-color: rgb(0, 144, 144);
}

.nav-title {
  cursor: default;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  font-family: "Press Start 2P", cursive;
}

/* Nav Element  */
.nav-element {
  gap: 1rem;
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-element > li > a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1rem;
  border-radius: 100vmax;
  letter-spacing: 0.05rem;
  font-weight: 500;
  transition: all 250ms ease;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.15);
}

.nav-element > li {
  align-self: flex-start;
}
.nav-element > li > a:hover {
  scale: 1.05;
  translate: 0 -5px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.nav-element > li > a:active {
  scale: 0.98;
  background: rgba(255, 255, 255, 0.4);
}

/* Hamburger Menu  */
@media (max-width: 768px) {
  .nav-element {
    top: 0;
    opacity: 0;
    width: 65%;
    z-index: 10;
    right: -320px;
    height: 100%;
    position: fixed;
    max-width: 300px;
    visibility: hidden;
    padding-inline: 2rem;
    flex-direction: column;
    justify-content: center;
    transition: all 350ms ease;
    background-color: rgb(0, 144, 144);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  .show {
    right: 0;
    opacity: 1;
    visibility: visible;
    transition: all 500ms ease;
  }

  /* Open & Close Button  */
  .menu-btn,
  .close-btn {
    width: 45px;
    height: 45px;
    border: none;
    color: white;
    display: grid;
    place-content: center;
    border-radius: 100vmax;
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }
  .close-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

/* Navbar Padding Adjustment  */
@media (min-width: 768px) {
  .nav-bar {
    padding: 0.9rem 3rem;
  }
}
@media (min-width: 1024px) {
  .nav-bar {
    padding: 0.9rem 5rem;
  }
}

.main-content{
    overflow: hidden;
    /* height: calc(100vh - 50px); */
    /* width: 100vw; */
    background-color: white;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;  
}

.main-content .game{
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
    padding: 10px 0;
    position: relative;
    width: 14vw;
    cursor: pointer;
    overflow: hidden;
}

.main-content .game:hover{
    background-color: #dedede;
    border-color: #444444;
}

.main-content .game:hover img{
    rotate: 3deg;
    scale: 1.05;
    outline: 1px solid #009090;
}

.game img{
    background-size: cover;
    width: 10vw;
    height: 10vw;
    margin-bottom: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 200ms;
    
}

.game img:hover{
    transform: scale(1.1);
}

.game h3{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;    
    color: #333333;
    text-decoration: none;
}

.game h3:hover{
    text-decoration: underline;
    color: #111111;
}

@media (max-width: 700px) {

    body{
        overflow-x: hidden;
    }
    
    .nav-bar{
        text-align: center;
        justify-content: space-between;
    }

    .nav-bar h1{
        font-size: 5vw;
        margin-left: 0;
    }
    
    .nav-bar .nav-elem{
        margin-left: 13vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-bar button{
        font-size: 4vw;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    
    .nav-bar button .a-text{
        display: none;
    }


    .main-content{
        gap: 10vw;
    }

    .main-content .game{
        width: 30vw;
    }

    .game img{
        height: 25vw;
        width: 25vw;
    }

}

