
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}


.win-screen{
    color: white;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(225, 65, 190, 0.300);
    z-index: 99;
    display: none;
    flex-direction: column;
    gap: 20px;
}


.win-screen h1{
    font-size: 3vw;
    font-family: 'Press Start 2P', cursive;
}

.win-screen h1 .winner-name{
    -webkit-text-stroke: 2px white;
    color: transparent;
    font-size: 5vw;
    font-family: 'Play', sans-serif;
    
}

.win-screen h1 .winner{
    color: #00c7c7;
    -webkit-text-stroke: 0.8px black;
}


.win-screen .btn{
    margin-top: 20vh;
}

.title-screen{
    left: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
    background-color:  rgba(0, 0, 0, 0.37);
    position: absolute;
    z-index: 99;
}

.title-screen .title{
    font-family: 'Press Start 2P', cursive;
    user-select: none;
    line-height: 45px;
    margin-top: 20px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;    
}

.title-screen .title h1{
    text-transform: lowercase;
    color: white;
    font-family: 'Press Start 2P', cursive;

}

.title-screen .title h1 span{
    color: yellow;
    font-size: 5vw;
    font-family: 'Press Start 2P', cursive;

}

.title-screen .title h3{
    font-weight: 800;
    font-size: 2.3vw;
    color: yellow;
    text-transform: uppercase;
}

.btn-div{
    margin-top: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-game-button {
    width: 150px;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 28px;
    font-weight: 700;
    color: #382b22;
    padding: .75em .5em;
    background: #f9c4d2;
    border: 2px solid #b18597;
    border-radius: 0.75em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

.video-game-button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffe0f0;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.video-game-button:hover {
    background: #f9d6e2;
}

.video-game-button::before {
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #333333;
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}

.video-game-button:active {
    background: #f9d6e2;
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
}

.video-game-button:active::before {
    -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
}

.video-game-button:focus:not(:focus-visible) {
    outline: 0;
}

.main{
    height: 100vh;
    width: 100vw;
    background-color: rgb(95, 135, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main h1{
    align-items: center;
    margin-top: 20px;
    /* display: none; */
    position: absolute;
    align-self: start;
    color: white;
    font-size: 3vw;
    user-select: none;
    font-family: 'Play', sans-serif;
}

.main h1 .player{
    font-family: 'Play', sans-serif;
    -webkit-text-stroke: 2px white;
    color: transparent;
    font-size: 4.5vw;

}

.main .player{
    color: yellow;

}

.game-container{
    background-color: rgb(65, 105, 225);
    backdrop-filter: blur(5px);
    border: 2px solid rgb(208, 219, 255);
    border-radius: 30px;
    height: 70vh;
    width: 35vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
}

.game-panel{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid white;
    height: 23.33vh;
    width: 11.55vw;
    cursor: pointer;
    color: transparent;
    font-weight: 999;
    font-size: 7vw;
    -webkit-text-stroke: 2px white;
}

.game-panel:hover{
    background-color: rgb(28, 78, 228);
    
}

.game-panel:active{
    background-color: transparent;
    
}

@media (max-width:600px) {
    
    
    .title-screen .title{
        margin-top: 15vh;
        font-size: 3.3vw;
    }
    
    .title-screen .title h3{
        font-size: 7vw;
    }

    .title-screen .btn-div{
        margin-top: 20vh;
    }

    .btn{
        font-size: 5vw;
    }

    .game-container{
        height: 50vh;
        width: 80vw;
    }

    .game-panel{
        font-size: 20vw;
        height: 16.66vh;
        width: 26.66vw;
    }

    .main h1{
        font-size: 10vw;
    }

    .main h1 .player{
        font-size: 15vw;
    }
  
    .win-screen h1{
        font-size: 8vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .win-screen h1 .winner-name{
        font-size: 12vw;
    }

    .win-screen h1 .winner{
        font-size: 8vw;
    }


}
