

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.main{
    height: 100vh;
    width: 100vw;
    background-color: royalblue;
    display: flex;
}

.player1{
    width: 50vw;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.player2{
    width: 50vw;
    /* background-color: hotpink; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-container{
    height: 35vw;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.game-content{
    user-select: none;
    background-color: aqua;
    height: 100%;
    width: 100%;
    border: 10px solid #1a1a1a;
    border-radius: 15px;
    overflow: hidder;
    display: grid;
    grid-template-columns: repeat(8,1fr);
}

.track{
    
}


.panel{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 12px;
    font-weight: 333;
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 4.375vw;
    width: 4.375vw;
    cursor: pointer;
}

.panel-w{
    color: #2e2217;
    background-color: white;
}

.panel-b{
    color: #ffeed0;
    background-color: #3a3a3a;
}

.panel .coord{
    align-items: flex-end;
    justify-self: start;
    display: none;
}

.panel img{
    cursor:grab;
    z-index: 10;
    height: 75%;
    width: 75%;
}

.white-knight-right, .black-knight-right{
    transform: scaleX(-1);
}

.white-king, .black-king{
    transform: scale(1.1) translateY(7px);
}



