
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(159, 173, 218);
}

.main-panel{
    border-radius: 10px;
    background-color: #ffffff;
    width: 85vw;
    height: 80vh;
    overflow: hidden;

}

.panel-nav{
    height: 60px;
    width: 100%;
    background-color: rgb(28, 76, 223);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.elem{
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Chakra Petch', sans-serif;

}

.box{
    color: rgb(28, 76, 223);
    background-color: #ffffff;
    display: flex;
    padding: 5px 8px;
    border-radius: 3px;
    font-family: 'Arvo', serif;

}

.panel-content{
    z-index: 1;
    background-color: #ffffff;
    height: calc(100% - 60px);
    width: 100%;
    gap: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Arvo', serif;

    
}

.bubble{
    background-color: #1c29df;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bubble:hover{
    cursor: pointer;
    background-color: #211594;
}

.menu-screen{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 255, 0, 0.434);
    backdrop-filter: blur(5px);
    position: absolute;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
}


.menu-screen .main-instruction {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(5px);
    padding: 40px 50px;
    border-radius: 30px;
}


.menu-screen .main-instruction h1{
    font-family: 'Chakra Petch', sans-serif;
    text-transform: uppercase;
    font-size: 3vw;
    color: #211594;
}

.main-instruction ul li::before {
    font-size: 25px;
    content: "\2022";
    color: #211594;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

.menu-screen .main-instruction ul{
    list-style: none;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.4vw;
    color: #211594;
}

.menu-screen button{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 999;
    cursor: pointer;
    user-select: none;
    font-size: 3vw;
    background-color: #1c29df;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    padding: 8px 18px;

}

.menu-screen button:hover{
    border-color: white;
}

.game-over-screen{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 99;
    background-color: rgba(22, 56, 159, 0.475);
    backdrop-filter: blur(5px);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

.game-over-screen h1{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 999;
    font-size: 3vw;
    font-family: 'Arvo', serif;
}

.game-over-screen h3{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.game-over-screen h3 .current-score{
    color: #ffffff;
    font-size: 40px;
    font-family: 'Arvo', serif;
}

.game-over-screen button{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 999;
    cursor: pointer;
    user-select: none;
    font-size: 2vw;
    background-color: #1c29df;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    padding: 8px 18px;
}

.game-over-screen button:hover{
    border-color: white;
}